<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--MES Settings-->
    <!--<add key="ResourceId" value="200114716"/>-->
  	<add key="ResourceId" value="123757"/>
    <add key="Operation" value="WAVE"/>
    <!--<add key="ECoEndpoint" value="http://debemesd001.de.kostal.int:50000/AutomationIntegrationServiceR4_5/AutomationIntegrationBean5?wsdl"/>-->
  	<add key="ECoEndpoint" value="http://cnshmes001.cn.kostal.int:1050/AutomationIntegrationServiceR4_5/AutomationIntegrationBean5?wsdl"/>
    <add key="ECOUser" value="ECOSYS"/>
    <!--<add key="ECOPassword" value="SAPME4test"/>-->
  	<add key="ECOPassword" value="m7atbQ0nn3Ae"/>
    <add key="EcoRequestFilePath" value=".\SampleXML"/>
    <add key="NcCode" value="FIT_FAIL"/>
    <!--##################以下内容按实际情况修改##################-->
    <!--接口的实例实现-->
    <add key="IScanner" value=".\lib\DatalogicScanner.dll"/>
    <add key="IMesFunction" value=".\lib\MESSequence.dll"/>
    <add key="IBarcodeRule" value=".\lib\StandardBarcodeRule.dll"/>
    <add key="ITransmit" value=".\lib\EmptyTransmit.dll"/>
    <add key="IWhilteList" value=".\lib\XmlWhiteList.dll"/>
    <add key="IResultDataRouter" value=".\lib\EmptyDataRouter.dll"/>
    <add key="IResultDataExtractor" value=".\lib\EmptyResultDataExtractor.dll"/>
    <add key="IConfigParamterManager" value=".\lib\XmlConfigParameterManager.dll"/>
    <add key="ISequenceAdapter" value=".\lib\QueneSequenceAdapter.dll"/>
    <add key="IExecutedSequceManager" value=".\lib\XmlExecutedSequenceManager.dll"/>
    <add key="IMechControl" value=".\lib\EmptyMechControl.dll"/>
    <!--设置进出模式：EntrySide-进，ExitSide-出，1-有效，0-无效-->
    <add key="EntrySide" value="1"/>
    <add key="ExitSide" value="0"/>
    <!--设置扫描仪位置：TopSide-上面，BottomSide-下面，1-有效，0-无效-->
    <add key="TopSide" value="1"/>
    <add key="BottomSide" value="0"/>
    <!--扫描仪设置-->
    <add key="ScannerEntryTop" value="8,9600,N,8,1"/>
    <add key="ScannerEntryBottom" value="COM2,115200,N,8,1"/>
    <add key="ScannerExitTop" value="COM3,115200,N,8,1"/>
    <add key="ScannerExitBottom" value="COM4,115200,N,8,1"/>
    <!--条码传递串口设置-->
    <add key="TransmitEntryTop" value="COM5,115200,N,8,1"/>
    <add key="TransmitEntryBottom" value="COM6,115200,N,8,1"/>
    <add key="TransmitExitTop" value="COM7,115200,N,8,1"/>
    <add key="TransmitExitBottom" value="COM8,115200,N,8,1"/>
    <!--Mes Sequence设置：1-有效，0-无效-->
    <add key="GetProcessLotDetails" value="1"/>
    <add key="GetSfcStatus" value="1"/>
    <add key="Start" value="1"/>
  	<add key="ValidateBom" value="0"/>
    <add key="LogParameters" value="1"/>
  	<add key="AssembleEmptyComp" value="0"/>
    <add key="LogNonConformance" value="0"/>
    <add key="Complete" value="1"/>
    <!--白名单文件路径设置-->
    <add key="WhiteListFilePath" value=".\config\whitelist.xml"/>
    <!--需要监控的文件路径设置-->
    <add key="ResultDataRouterPath" value="D:\"/>
    <!--xmlconfig配置文件路径设置-->
    <add key="ConfigParamterManagerPath" value=".\config\config.xml"/>
    <!--mes sequence记录文件路径设置-->
    <add key="SequenceAdapterPath" value=".\config\sequence.xml"/>
    <!--executed mes sequence记录文件路径设置-->
    <add key="ExecutedSequenceManagerPath" value=".\config\executedSequence.xml"/>
    <!--界面显示sequence数量: default：4-->
    <add key="StationNum" value="4"/>
    <!--故障件使能设置: 0-不可用，1-可用-->
    <add key="ManualTreatEnable" value="1"/>
    <!--设置工位名称-->
    <add key="StationName" value="波峰焊"/>
  	<!--pcb板释放延时-->
    <add key="PanelReleaseSleep" value=""/>
    <!--设置IO模块: hold-档停信号，sensor-传感器信号，motor-电机信号-->
    <add key="MechControl" value="amsaddress:10.180.16.147.1.1,amsport:301,entryside_hold:MES.OUTPUTS.HOLD,exitside_hold:,entryside_sensor:MES.INPUTS.SENSOR,exitside_sensor:,entryside_motor:MES.OUTPUTS.MOTOR,exitside_motor:,"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
