<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;Device;Action;Statistics;UserDefine"/>
    </assemblyBinding>
  </runtime>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AutomationIntegrationServiceR4_5Binding" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://DEBEMESD001.de.kostal.int:50000/AutomationIntegrationServiceR4_5/AutomationIntegrationBean5"
          binding="basicHttpBinding" bindingConfiguration="AutomationIntegrationServiceR4_5Binding"
          contract="AutomationIntegrationServiceR4_5"
          name="AutomationIntegrationBean5Port" />
    </client>
  </system.serviceModel>
</configuration>
