<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AutomationIntegrationServiceR4_5Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cnshmes003.cn.kostal.int:50000/AutomationIntegrationServiceR4_5/AutomationIntegrationBean5"
                binding="basicHttpBinding" bindingConfiguration="AutomationIntegrationServiceR4_5Binding"
                contract="AutomationIntegrationServiceR4_5" name="AutomationIntegrationPort5" />
        </client>
    </system.serviceModel>
</configuration>